/* Header.css */

.header {
    background-color: #fff;
    /* Adjust the background color as needed */
    padding: 20px;
    transition: background-color 0.3s ease;
}

.header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Optional: Add a shadow for a visual effect */
}